.featured-cards-container {
  display: flex;
  height: #{$cards-height}px;
  max-height: #{$cards-height}px;
  justify-content: flex-start;
  column-gap: 1.25rem;
  // show only the first row
  flex-wrap: nowrap;
  overflow-y: hidden;
  overflow-x: visible;
  scroll-snap-type: x mandatory;
  scroll-padding: 1.25rem;
  // display scrollbar thin and subtle
  scrollbar-width: thin;
  scrollbar-color: #91919185 transparent;
  row-gap: 100px;
  // shadow hack
  margin: -2rem;
  padding: 2rem 2rem 4rem 2rem;
  // ensure the scrollbar sits just below the container
  padding-bottom: 1.5rem;
  margin-bottom: 2rem;
  .featured-card {
    height: 100%;
    max-height: 100%;
    min-width: calc(#{$cards-height}px * #{$cards-min-width});
    max-width: calc(#{$cards-height}px * #{$cards-max-width});
  }
}
